{
  "port": 8385,
  "token": "123456789",
  "allowedOrigins": [
    "http://localhost",
    "https://facturacion.gusof.com"
  ],
  "debug": false,
  "printers": {
    "receipt": {
      "enabled": true,
      "printerName": "printer01",
      "paperWidth": 58,
      "driver": "escpos",
      "codePage": "CP850"
    },
    "label": {
     "enabled": true,
           "printerName": "XP-370B",
           "driver": "tspl",
           "dpi": 203,
           "labelWidth": 58,
           "labelHeight": 40,
           "gap": 3,
           "sensor": "gap",
           "density": 8,
           "encoding": "cp850",
           "offset": {
             "x": 0,
             "y": 0
           }
    }
  }
}